==================================================================================

Nama : Panji Putra Rianto   
Batch : HCK - 012  
Objective : Program ini dibuat untuk melakukan pengecekan menggunakan great expectation terhadap data yang sudah dilakukan cleaning.  

==================================================================================

In [26]:
# Create a data context

from great_expectations.data_context import FileDataContext

context = FileDataContext.create(project_root_dir='./')

In [29]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'P2M3_panji_putra_sourcedata'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'P2M3_panji_putra_asset'
path_to_data = 'C:\Panji\Hacktiv8\FASE_2\Milestone3\p2-ftds012-hck-m3-panjiputra-r\dags\P2M3_panji_putra_data_clean.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

In [30]:
# Creat an expectation suite
expectation_suite_name = 'P2M3_panji_putra_asset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,flight_id,airline_name,overall_rating,review_title,review_date,verified,review,aircraft,type_of_traveller,seat_type,...,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,inflight_entertainment,wifi_&_connectivity,value_for_money,recommended,flight_month,flight_year
0,5,Adria Airways,1.0,"""Had very bad experience""",2019-09-17,True,Had very bad experience with rerouted and ca...,CR 900,Couple Leisure,Economy Class,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no,September,2019
1,7,Adria Airways,1.0,"""book another company""",2019-08-24,False,"First of all, I am not complaining about a s...",Bombardier CRJ,Solo Leisure,Economy Class,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no,August,2019
2,22,Adria Airways,8.0,"""seat was quite comfortable """,2017-01-27,False,Ljubljana to Vienna. After a fast boarding p...,Canadair 700,Solo Leisure,Business Class,...,5.0,5.0,4.0,5.0,5.0,5.0,4.0,yes,December,2016
3,29,Adria Airways,6.0,"""staff were all pleasant enough""",2016-09-04,False,Booked this flight after many years using Easy...,A319,Family Leisure,Economy Class,...,2.0,4.0,3.0,3.0,4.0,4.0,4.0,yes,September,2016
4,113,Aegean Airlines,1.0,"""Please keep up the excellent work""",2023-04-26,True,Aegean Airlines will remain always my first ...,A321 Neo,Solo Leisure,Economy Class,...,5.0,5.0,5.0,5.0,3.0,4.0,5.0,yes,April,2023

## Expectation 1 : Kolom `flight_id` harus unique

In [32]:
validator.expect_column_values_to_be_unique('flight_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1667,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Expectation ini menentukan bahwa nilai di dalam kolom 'flight_id' diharapkan unik. Dengan kata lain, validasi ini memeriksa apakah tidak ada duplikat dalam kolom 'flight_id' dalam dataset tersebut.

## Expectation 2 : Kolom `flight_year` harus memiliki value dengan rentang 2015 hingga 2023

In [33]:
validator.expect_column_values_to_be_between(
    column='flight_year', min_value=2015, max_value=2023
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1667,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

 Menunjukkan rentang nilai yang diharapkan dari kolom 'flight_year', yaitu mulai dari tahun 2015 hingga 2023, inklusif.

# Expectation 3 : Kolom `verified` harus memiliki 2 value ini 'True' dan 'False' :

In [34]:
validator.expect_column_values_to_be_in_set('verified', [True, False])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1667,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dengan menggunakan validasi ini, memastikan bahwa nilai-nilai dalam kolom 'verified' terdiri dari nilai yang diharapkan, yaitu True dan False, sehingga memastikan konsistensi data dan memastikan bahwa kolom tersebut hanya berisi nilai yang diizinkan.

## Expectation 4 : Kolom `overall_rating` harus dalam bentuk float

In [35]:
validator.expect_column_values_to_be_in_type_list('overall_rating', ['float'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Expectation ini memastikan bahwa nilai-nilai dalam kolom 'overall_rating' memiliki tipe data float, sehingga memastikan konsistensi tipe data dan memastikan bahwa kolom tersebut hanya berisi nilai yang sesuai dengan jenis data yang diizinkan.

## Expectation 5 : Kolom `airline_name` tidak boleh terdapat missing values

In [36]:
validator.expect_column_values_to_not_be_null('airline_name')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1667,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Memastikan bahwa tidak ada nilai null (atau None) dalam kolom 'airline_name'.

## Expectation 6: Kolom 'review_title' harus ada

In [37]:
validator.expect_column_to_exist('review_title')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dengan menggunakan validasi ini, memastikan bahwa dataset memiliki kolom 'review_title', sehingga memastikan konsistensi dalam struktur dataset dan memastikan bahwa operasi yang akan dilakukan pada dataset tidak akan menghasilkan kesalahan karena kekurangan kolom yang diharapkan.

## Expectation 7 : Melakukan cek distinct values terhadap kolom "food_&_beverages".

In [41]:
validator.expect_column_distinct_values_to_be_in_set(
        "food_&_beverages",
        [1.0, 2.0, 3.0, 4.0, 5.0]
    )

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": [
      1.0,
      2.0,
      3.0,
      4.0,
      5.0
    ],
    "details": {
      "value_counts": [
        {
          "value": 1.0,
          "count": 584
        },
        {
          "value": 2.0,
          "count": 217
        },
        {
          "value": 3.0,
          "count": 249
        },
        {
          "value": 4.0,
          "count": 268
        },
        {
          "value": 5.0,
          "count": 349
        }
      ]
    }
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dengan menggunakan validasi ini, memastikan bahwa nilai-nilai yang unik dalam kolom 'food_&_beverages' hanya terdiri dari nilai-nilai yang diizinkan dalam list yang ditentukan, yaitu [1.0, 2.0, 3.0, 4.0, 5.0]. Hal ini berguna untuk memeriksa konsistensi data dan memastikan bahwa nilai-nilai dalam kolom tersebut sesuai dengan harapan.

## Expectation 8 : Cek apa bila unique values pada kolom 'wifi_&_connectivity' berada pada range yang sudah dituliskan

In [44]:
validator.expect_column_unique_value_count_to_be_between('wifi_&_connectivity', 0, 7)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 5
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dengan menggunakan validasi ini, memastikan bahwa jumlah nilai unik dalam kolom 'wifi_&_connectivity' berada dalam rentang yang diizinkan, yaitu dari 0 hingga 7.